@import 'src/styles/common/var.scss';

@font-face {
  font-family: "zui-line";
  src: url('/src/packages/icon/fonts/line-fonts/iconfont.ttf?t=1565272489492') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
}

.zuicon-line {
  font-family: "zui-line" !important;
  font-size: $font-size-normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-code-box-line:before {
  content: "\e6e3";
}

.icon-code-s-slash-line:before {
  content: "\e6e5";
}

.icon-terminal-line:before {
  content: "\e6ec";
}

.icon-google-line:before {
  content: "\e767";
}

.icon-github-line:before {
  content: "\e768";
}

.icon-instagram-line:before {
  content: "\e769";
}

.icon-twitter-line:before {
  content: "\e771";
}

.icon-wechat-line:before {
  content: "\e773";
}

.icon-youtube-line:before {
  content: "\e774";
}

.icon-qq-line:before {
  content: "\e777";
}

.icon-map-pin-line:before {
  content: "\e788";
}

.icon-rocket-line:before {
  content: "\e790";
}

.icon-road-map-line:before {
  content: "\e791";
}

.icon-account-box-line:before {
  content: "\e83e";
}

.icon-account-circle-line:before {
  content: "\e83f";
}

.icon-user-line:before {
  content: "\e864";
}

.icon-group-line:before {
  content: "\e867";
}

.icon-add-box-line:before {
  content: "\e848";
}

.icon-add-line:before {
  content: "\e84b";
}

.icon-add-circle-line:before {
  content: "\e84d";
}

.icon-alarm-line:before {
  content: "\e84e";
}

.icon-apps2-line:before {
  content: "\e851";
}

.icon-alert-line:before {
  content: "\e853";
}

.icon-arrow-down-line:before {
  content: "\e855";
}

.icon-apps-line:before {
  content: "\e85b";
}

.icon-arrow-down-circle-line:before {
  content: "\e85c";
}

.icon-arrow-down-s-line:before {
  content: "\e863";
}

.icon-arrow-left-s-line:before {
  content: "\e865";
}

.icon-arrow-go-back-line:before {
  content: "\e866";
}

.icon-arrow-go-forward-line:before {
  content: "\e869";
}

.icon-arrow-left-up-line:before {
  content: "\e86a";
}

.icon-arrow-right-down-line:before {
  content: "\e86e";
}

.icon-arrow-right-circle-line:before {
  content: "\e870";
}

.icon-arrow-left-circle-line:before {
  content: "\e871";
}

.icon-alarm-warning-line:before {
  content: "\e874";
}

.icon-arrow-left-line:before {
  content: "\e876";
}

.icon-arrow-up-line:before {
  content: "\e879";
}

.icon-arrow-up-circle-line:before {
  content: "\e87a";
}

.icon-arrow-up-s-line:before {
  content: "\e87c";
}

.icon-barcode-box-line:before {
  content: "\e880";
}

.icon-arrow-right-up-line:before {
  content: "\e881";
}

.icon-barcode-line:before {
  content: "\e884";
}

.icon-arrow-right-s-line:before {
  content: "\e886";
}

.icon-arrow-right-line:before {
  content: "\e887";
}

.icon-bluetooth-line:before {
  content: "\e888";
}

.icon-base-station-line:before {
  content: "\e889";
}

.icon-arrow-left-down-line:before {
  content: "\e88c";
}

.icon-check-double-line:before {
  content: "\e890";
}

.icon-bluetooth-connect-line:before {
  content: "\e892";
}

.icon-check-line:before {
  content: "\e895";
}

.icon-checkbox-indeterminate-line:before {
  content: "\e897";
}

.icon-checkbox-line:before {
  content: "\e898";
}

.icon-close-circle-line:before {
  content: "\e899";
}

.icon-dashboard-line:before {
  content: "\e89c";
}

.icon-delete-back2-line:before {
  content: "\e89e";
}

.icon-delete-back-line:before {
  content: "\e8a0";
}

.icon-close-line:before {
  content: "\e8a3";
}

.icon-checkbox-circle-line:before {
  content: "\e8a4";
}

.icon-checkbox-multiple-line:before {
  content: "\e8a8";
}

.icon-checkbox-multiple-blank-line:before {
  content: "\e8ae";
}

.icon-delete-bin2-line:before {
  content: "\e8b0";
}

.icon-delete-bin-line:before {
  content: "\e8b3";
}

.icon-download-line:before {
  content: "\e8bb";
}

.icon-error-warning-line:before {
  content: "\e8be";
}

.icon-eye-line:before {
  content: "\e8c0";
}

.icon-eye-off-line:before {
  content: "\e8c3";
}

.icon-filter-line:before {
  content: "\e8c7";
}

.icon-eye-close-line:before {
  content: "\e8c8";
}

.icon-filter-row-line:before {
  content: "\e8c9";
}

.icon-function-line:before {
  content: "\e8d3";
}

.icon-forbid-line:before {
  content: "\e8d6";
}

.icon-information-line:before {
  content: "\e8d7";
}

.icon-heart-line:before {
  content: "\e8d8";
}

.icon-loader1-line:before {
  content: "\e8da";
}

.icon-list-settings-line:before {
  content: "\e8df";
}

.icon-loader-line:before {
  content: "\e8e0";
}

.icon-lock-line:before {
  content: "\e8ee";
}

.icon-loader2-line:before {
  content: "\e8f0";
}

.icon-lock-unlock-line:before {
  content: "\e8f1";
}

.icon-menu1-line:before {
  content: "\e8f7";
}

.icon-indeterminate-circle-line:before {
  content: "\e8f8";
}

.icon-more2-line:before {
  content: "\e8fa";
}

.icon-gps-line:before {
  content: "\e8fd";
}

.icon-more-line:before {
  content: "\e8fe";
}

.icon-question-line:before {
  content: "\e906";
}

.icon-qr-scan-line:before {
  content: "\e908";
}

.icon-qr-scan2-line:before {
  content: "\e90a";
}

.icon-radio-button-line:before {
  content: "\e90b";
}

.icon-refresh-line:before {
  content: "\e90c";
}

.icon-restart-line:before {
  content: "\e90d";
}

.icon-scan-line:before {
  content: "\e911";
}

.icon-scan2-line:before {
  content: "\e912";
}

.icon-rss-line:before {
  content: "\e915";
}

.icon-menu-line:before {
  content: "\e917";
}

.icon-search-line:before {
  content: "\e91b";
}

.icon-settings-line:before {
  content: "\e922";
}

.icon-share-line:before {
  content: "\e92e";
}

.icon-shield-user-line:before {
  content: "\e939";
}

.icon-shut-down-line:before {
  content: "\e93b";
}

.icon-shield-flash-line:before {
  content: "\e93c";
}

.icon-spam-line:before {
  content: "\e940";
}

.icon-shield-star-line:before {
  content: "\e941";
}

.icon-side-bar-line:before {
  content: "\e946";
}

.icon-share-forward-line:before {
  content: "\e949";
}

.icon-subtract-line:before {
  content: "\e94a";
}

.icon-qr-code-line:before {
  content: "\e94d";
}

.icon-time-line:before {
  content: "\e94f";
}

.icon-thumb-up-line:before {
  content: "\e950";
}

.icon-shield-cross-line:before {
  content: "\e951";
}

.icon-star-line:before {
  content: "\e954";
}

.icon-timer-line:before {
  content: "\e959";
}

.icon-thumb-down-line:before {
  content: "\e95b";
}

.icon-wifi-line:before {
  content: "\e95f";
}

.icon-upload-cloud-line:before {
  content: "\e960";
}

.icon-zoom-in-line:before {
  content: "\e963";
}

.icon-timer-flash-line:before {
  content: "\e967";
}

.icon-toggle-line:before {
  content: "\e968";
}

.icon-upload-line:before {
  content: "\e96a";
}

.icon-zoom-out-line:before {
  content: "\e96b";
}

.icon-download-cloud-line:before {
  content: "\e96e";
}

.icon-file-code-line:before {
  content: "\e8bf";
}

.icon-file-edit-line:before {
  content: "\e8c1";
}

.icon-markdown-line:before {
  content: "\e8d4";
}

.icon-pages-line:before {
  content: "\e8d5";
}

.icon-chat2-line:before {
  content: "\e8e7";
}

.icon-chat1-line:before {
  content: "\e8e8";
}

.icon-message-line:before {
  content: "\e8f4";
}

.icon-question-answer-line:before {
  content: "\e8f5";
}

.icon-home-line:before {
  content: "\e8f2";
}